Source: naturalscrolling
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-support (>= 0.6.4),
 python-distutils-extra (>= 2.10)
Maintainer: Charalampos Emmanouilidis <charalampos.emmanouilidis@eumorphed.com>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: naturalscrolling
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-appindicator,
 python-launchpad-integration,
 python-gtk2,
 python-gobject,
 python-desktopcouch-records,
 yelp
Description: Natural Scrolling for Linux
 UNKNOWN
